services:
  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_HOST: db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  web1:
    container_name: web1
    build: ./app
    volumes:
      - ./app:/app
    environment:
      POSTGRES_HOST: db
      REDIS_HOST: redis
      SERVER_ID: SERVER-1
    depends_on:
      - db
      - redis

  web2:
    container_name: web2
    build: ./app
    volumes:
      - ./app:/app
    environment:
      POSTGRES_HOST: db
      REDIS_HOST: redis
      SERVER_ID: SERVER-2
    depends_on:
      - db
      - redis

  redis:
    container_name: redis_
    image: redis:latest
    ports:
      - "6379:6379"

  celery_worker:
    container_name: celery_worker_
    build: ./app
    command: celery -A celery_worker worker --loglevel=info
    environment:
      POSTGRES_HOST: db
      REDIS_HOST: redis
    depends_on:
      - redis
    volumes:
      - ./app:/app

  nginx:
    container_name: nginx_
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d
    depends_on:
      - web1
      - web2

volumes:
  db_data:
